@{
    ViewBag.Title = "ui-router Demo App";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">A quick-reference, demo app for ui-router.</p>
    <p>Click the menu items above and watch the controller area below update with the correct content.</p>
</div>

<div ui-view></div>

